{% extends 'base.html' %}
{% load static %}
{% block main_content %}

      {% if not recipies %}<!-- Display paragraph: If there are no recipes yet-->
        <p class="no-articles">There are currently no recipes available.</p>

      {% else %}<!-- Display a card with information about each recipe (if any)-->
          <section id="catalogue">
            {% for recipe in recipies %}
                <div class="recipe-card">
                
                    <div class="image-wrap"><!-- recipe image -->
                        {% if recipe.image_url %}
                            <img class="recipe-img" src="{{ recipe.image_url }}" alt="recipe image"/>
                        {% else %}<!-- if there is no image url provided, display the default recipe image -->
                            <img class="recipe-img" src="{% static 'images/default_recipe_img.png' %}" alt="recipe image"/>
                        {% endif %} 
                    </div>
                
          
                  <h3>{{ recipe.title }}</h3><!-- recipe title -->
                  <h1>Cooking time: {{ recipe.cooking_time }}min.</h1><!-- recipe cooking time -->
                  <h1>{{ recipe.instructions|truncatechars:35  }}</h1><!-- recipe instructions -->
                  <div class="details-buttons">
                    <!-- recipe details button -->
                    <a href="{% url 'recipe-details-page' recipe.pk %}" class="details-btn">Details</a>
                  </div>
                </div>
            {% endfor %}
          </section>
      {% endif %}
{% endblock %}
